.container-banner{
	display: flex;
	flex-wrap: wrap;
}
.container-img-banner{
	width: 60%;
}
.container-img-banner img{
	width: 100%;
}

.container-text-banner{
	width: 40%;
	padding: 0 40px;
}

.container-text-banner h3{
	margin-bottom: 40px;
	font-size: 2em;
}
.container-text-banner p:not(:last-child){
	margin-bottom: 20px;
}
.keep-exploring{
	margin-top: 100px;
	text-align: center;
}
.keep-exploring h3{
	font-size: 2em;
    margin-bottom: 100px;
}



