.container-vertical-section{
	padding-bottom: 20px;
}
.gallery-container{
	margin: 50px;
}
.container-cards img{
	width: 100%;
}
@media (max-width: 650px) { 
	.gallery-container {
		margin: 50px 20px;
	}
}