.sticky-container{
	position: sticky;
	top: 0;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
}
.TallOuterContainer{
	position: relative;
	width: 100%;
}
.horizontal-scroll-container{
	position: absolute;
	height: 100%;
	will-change: transform;
}
.container-cards{
	position: relative;
	height: 100%;
	padding: 0 0 0 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.container-card{
	position: relative;
	height: 60vh;
	width: auto;
	background-color: #111f30;
	margin-right: 75px;
	flex-shrink: 0;
}
.container-card img{
	height: 100%;
}
.container-selected-work{
	position: relative;
	margin-top: 150px;
}
.title-selected-work{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.title-selected-work h3{
	font-size: 2em;
	margin-bottom: 20px;
}




@media (max-width: 650px) { 
	.title-selected-work{
		width: 100%;
		padding: 0 20px;
	}
	.container-card{
		height: 40vh;
	}
	.container-more-text{
		margin: 0 20px;
	}
	.content-more-text{
		padding: 0px 20px;
	}
}

