.scroll-container {
	margin-top: 50px;
	position: relative;
	/* overflow-x: hidden; */
	/* left: 0;
	right: 0;*/
	will-change: transform; 
}
.ghost {
    width: 100vw;
}
.thumbnails-container {
	position: sticky;
	top: 150px;
	height: 70vh;
	width: max-content;
	/* width: 100%; */
	display: flex;
	align-items: flex-start;
	padding: 0px 160px;
}  
.thumbnails {
    position: relative;
    display: flex;
	align-items: flex-start;
	height: 100%;
}
.thumbnails > * {
	margin-right: 45px;
}

.thumbnails > .container-block-img:first-child {
	/* padding-left: 50vw; */
}
.thumbnails > .container-block-img:last-child {
	/* padding-right: 20vw; */
}
.thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* min-width: 400px; */
}
.thumbnail p{
	position: absolute;
	left: 0;
	bottom: -30px;
}
.thumbnail img{
	display: block;
	height: 100%;
	width: auto;
}

@media (max-width: 900px) { 
	.thumbnails-container{
		height: 50vh;
	}
	.thumbnail{
		min-width: inherit;
	}
}


.wrapper-stickyroll{
	height: 500vh;
}
.stickyroll-content {
    position: sticky;
	display: flex;
    top: 150px;
	height: 60vh;
	margin-top: 50px;
    /* height: calc(100vh - 150px); */
	/* transition: transform 200ms; */
	transform: translate3d( calc(-100% * var(--progress)), 0, 0 );
}
.container-block-img.thumbnail{
	height: 100%;
}
.container-block-img.thumbnail img{
	height: 100%;
	/* margin: 0 50px */
}