.container-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.container-quote{
	position: relative;
	top: 50px;
	width: 70%;
	max-width: 1000px;
}
.container-quote blockquote{
	font-family: "Movement";
	font-size: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	/* white-space: pre; */
	width: 782px;
	margin: 0 auto;
	user-select: none;
}
.container-quote blockquote .whitespace{
	/* display: inline-block; */
	width: 10px;
}
.container-quote blockquote .char{
	font-family: "Movement";
	font-variation-settings: "wght" 600, "SPAC" 100;
	animation: movement-anim 6s infinite alternate;
	animation-delay: calc(50ms * var(--char-index));
	white-space: nowrap;
}
@keyframes movement-anim{
	0%{
		font-variation-settings: "wght" 600, "SPAC" 100;
		letter-spacing: 1px;
		color: #333333;
		/* transform: translate(0px, 0px); */
	}
	50%{
		font-variation-settings: "wght" 900, "SPAC" 120;
		letter-spacing: 0px;
		color: #333333;
		/* transform: translate(5px, 5px); */
	}
	70%{
		font-variation-settings: "wght" 700, "SPAC" 100;
		letter-spacing: 1px;
		color: #333333a2;
		/* transform: translate(0px, 0px); */
	}
	80%{
		font-variation-settings: "wght" 600, "SPAC" 100;
		letter-spacing: 1px;
		color: #333333a2;		
		/* transform: translate(0px, 0px); */
	}
	100%{
		font-variation-settings: "wght" 600, "SPAC" 100;
		letter-spacing: 1px;
		color: #333333a2;
		/* transform: translate(0px, 0px); */
	}

}
.colors-panel-country{
	margin: 30px 0;
}
.Artist-name{
	display: block;
	font-family: "Movement";
	font-size: 1.3em;
	font-variation-settings: "wght" 700, "SPAC" 100;
	font-style: normal;
	text-transform: uppercase;
	margin: 10px 0;
}
.Artist-country{
	font-family: "Lexend";
	font-size: 1em;
	text-transform: uppercase;
}
.container-img-country-artist{
	margin-top: 50px;
	width: 100%;
}
.container-img-country-artist img, .container-img-country-artist svg{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
	max-width: 120px;
}
@media (max-width: 1000px) { 
	.container-quote blockquote{
		font-size: 28px;
		width: 100%;
	}
}

@media (max-width: 650px) { 
	.container-heading{
		height: 100%;
		min-height: 100vh;
	}
	.container-quote{
		top: 100px;
		width: 100%;
		padding: 0 20px;
	}
	.container-quote blockquote{
		font-size: 1.6em;
	}
}
@media (max-width: 500px) { 
	.container-quote blockquote{
		font-size: 1.2em;
	}
}