.container-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.container-quote{
	position: relative;
	top: 50px;
	width: 70%;
	max-width: 1000px;
}
.container-quote blockquote{
	font-size: 2.3em;
	white-space: pre-line;
}
.container-quote blockquote span{
	font-family: "Movement";
	font-variation-settings: "wght" 700, "SPAC" 100;
	animation: movement-anim 3s infinite alternate ease-in-out;
	animation-delay: calc(-200ms * var(--word-index));
	white-space: nowrap;
}

@keyframes movement-anim{
	0%{
		font-variation-settings: "wght" 700, "SPAC" 100;
	}
	30%{
		font-variation-settings: "wght" 700, "SPAC" 100;
		color: #3a3939
	}
	70%{
		font-variation-settings: "wght" 900, "SPAC" 120;
		color: #333333
	}
	100%{
		font-variation-settings: "wght" 900, "SPAC" 120;
	}
}
.colors-panel-country{
	margin: 30px 0;
}
.Artist-name{
	display: block;
	font-family: "Movement";
	font-size: 1.3em;
	font-variation-settings: "wght" 700, "SPAC" 100;
	font-style: normal;
	text-transform: uppercase;
	margin: 10px 0;
}
.Artist-country{
	font-family: "Lexend";
	font-size: 1em;
	text-transform: uppercase;
}
.container-img-country-artist{
	margin-top: 50px;
	width: 100%;
}
.container-img-country-artist img, .container-img-country-artist svg{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
	max-width: 120px;
}


@media (max-width: 650px) { 
	.container-quote{
		width: 100%;
		padding: 0 20px;
	}
	.container-quote blockquote{
		font-size: 1.6em;
	}
}