/* container-selected-work */
.container-horizontal-section{
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.container-selected-work{
	background-color: black;
}
.container-selected-work h2{
	color: white;
	text-align: center;
	padding: 70px 0 20px 0;
}
.container-titre-section h2{
	font-size: 2em;
}


/* more content section */
.container-more-text{
	margin: 200px 0 210px 0;
}
.container-more-text h2{
	padding: 0 50px;
	margin: 75px auto 20px auto;
	max-width: 1500px;
}
.content-more-text{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 50px;
	margin: 0 auto;
	max-width: 1500px;
}

.container-more-text h3{
	font-size: 2em;
	margin-bottom: 30px;
}
.content-more-text > p{
	width: 33%;
	min-width: 300px;
	max-width: 450px;
	padding: 15px 20px 15px 0;
}

@media (max-width: 1000px) { 
	.container-more-text{
		text-align: center;
	}
	.content-more-text{
		flex-direction: column;
		max-width: 600px;
		margin: 50px auto;
		width: 100%;
	}
	.content-more-text > p{
		width: 100%;
		min-width: inherit;
		max-width: inherit;
		padding: 15px 0;
	}
}
@media (max-width: 650px) { 
	.content-more-text{
		padding: 0 20px;
	}
}