/* container-selected-work */
.container-horizontal-section{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.container-titre-section{ 
	text-align: center;
	padding: 100px 16px;
	background-color: #efefef;
}




/* more content section */

.content-more-text{
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	margin: 75px 50px;
}
.container-more-text h3{
	font-size: 2em;
	margin-bottom: 30px;
}
.content-more-text > *{
	width: 45%;
	min-width: 350px;
	max-width: 450px;
	margin: 15px 20px 15px 0;
}

@media (max-width: 1000px) { 
	.container-more-text{
		text-align: center;
	}
	.content-more-text{
		flex-direction: column;
		max-width: 600px;
		margin: 50px auto;
		width: 100%;
	}
	.content-more-text > *{
		width: 100%;
		min-width: inherit;
		max-width: inherit;
	}
}