.container-item-artist-visited{
	position: fixed;
	display: grid;
	z-index: 2;
	top: 0;
	left: 0;
	max-width: 50%;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	gap: 30px;
	padding: 80px 20px 20px 20px;
	width: 500px;
	min-height: 100vh;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	backdrop-filter: blur(8px);
	/* overflow-y: scroll; */

	transform: translateX(-100%);
	transition: transform 400ms;
}
@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
	.container-item-artist-visited{
		background-color: rgba(0, 0, 0, 0.2);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
}
.slideIn{
	transform: translateX(0);
}
.item-artist-visited{
	transform: scale(0.6);
	transition: transform 300ms;
}
.item-artist-visited.grow{
	transform: scale(1);
}
@media (max-width: 1000px) { 
	.container-item-artist-visited{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 700px) { 
	.container-item-artist-visited{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 650px) { 
	.container-item-artist-visited{
		grid-template-columns: repeat(3, 1fr);
		max-width: inherit;
		width: 100%;
	}
}