
/* container global */
.main-nav{
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	width: 100%;
}
.main-nav > div{
	flex: 1;
}
.about-item{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.container-about-item{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.about-item li{
	cursor: pointer;
}
.main-nav p, .main-nav li{
	user-select: none;
}
.about-open .artist-dropdown-btn svg circle, .about-open .artist-dropdown-btn path{
	fill: var(--light-color);
}
.about-open .artist-dropdown p, .about-open .container-logo h1, .about-open .container-logo h2, .about-open .about-item li{
	color: white;
}

/* Artist */
.artist-dropdown{
	cursor: pointer;
}
.artist-dropdown-btn{
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
}
.artist-dropdown-btn:hover{
	opacity: 0.8;
	transition: opacity 150ms;
}
.artist-dropdown-btn svg{
	transition: transform 150ms;
}
.artist-dropdown-btn > *:not(:last-child){
	margin-right: 20px;
} 
/* logo */
.container-logo{
	text-align: center;
	min-width: 320px;
}
.container-logo h2{
	font-size: 1em;
	font-weight: 400;
}


/* about */
.close-about-btn{
	position: relative;
	display: block;
	padding-left: 14px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.close-about-btn::after{
	position: absolute;
	content: '';
	height: 100%;
	width: 2px;
	background-color: white;
	transform: rotate(45deg);
}
.close-about-btn::before{
	position: absolute;
	content: '';
	height: 100%;
	width: 2px;
	background-color: white;
	transform: rotate(-45deg);
}


@media (max-width: 650px) { 
	.main-nav{
		justify-content: center;
	}
	.main-nav h1{
		font-size: 1.5em;
	}
	.main-nav h2{
		font-size: 0.9em;
	}
	.artist-dropdown, .about-item{
		display: none;
	}
}